* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1059_136 {
  width: 100%;
  height: 1000px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1059_137 {
  width: 100%;
  height: 141px;
  background: rgba(244,244,242,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 28px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v1059_138 {
  width: 32px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 77px;
  left: 132px;
  font-family: Abhaya Libre Medium;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1059_139 {
  width: 239px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 116px;
  left: 132px;
  font-family: Abhaya Libre Medium;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1059_140 {
  width: 243px;
  height: 141px;
  background: url("../images/lightsQuery.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 1367px;
  overflow: hidden;
}
.v1059_141 {
  width: 91px;
  height: 124px;
  background: url("../images/vine.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 33px;
  overflow: hidden;
}
.v1059_142 {
  width: 165px;
  color: rgba(22,20,18,1);
  position: absolute;
  top: 197px;
  left: 738px;
  font-family: Abel;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v1059_146 {
  width: 505px;
  height: 71px;
  background: url("../images/pattern.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 914px;
  left: 21px;
  overflow: hidden;
}
.v1059_147 {
  width: 505px;
  height: 71px;
  background: url("../images/pattern.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 914px;
  left: 569px;
  overflow: hidden;
}
.v1059_148 {
  width: 505px;
  height: 71px;
  background: url("../images/pattern.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 915px;
  left: 1114px;
  overflow: hidden;
}
.v1060_178 {
  width: 774px;
  height: 566px;
  background: rgba(244,244,244,1);
  opacity: 1;
  position: absolute;
  top: 301px;
  left: 771px;
  overflow: hidden;
}
.v1061_193 {
  width: 359px;
  color: rgba(22,20,18,1);
  position: absolute;
  top: 675px;
  left: 853px;
  font-family: Abel;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1061_192 {
  width: 359px;
  height: 41px;
  background: rgba(244,244,244,1);
  opacity: 1;
  position: absolute;
  top: 584px;
  left: 853px;
  border: 0px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v1061_191 {
  width: 250px;
  color: rgba(22,20,18,1);
  position: absolute;
  top: 528px;
  left: 853px;
  font-family: Abel;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1060_179 {
  width: 136px;
  color: rgba(22,20,18,1);
  position: absolute;
  top: 331px;
  left: 861px;
  font-family: Abel;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1060_180 {
  width: 359px;
  height: 96px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  font-family: Abel;
  font-weight: Regular;
  font-size: 18px;
  top: 396px;
  left: 853px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
  resize: none;
}
.v1060_181 {
  width: 392px;
  height: 48px;
  background: url("../images/v1060_181.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 789px;
  left: 962px;
  overflow: hidden;
}
.v1060_182 {
  width: 392px;
  height: 48px;
  background: rgba(22,20,18,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
  color: rgba(251,251,251,1);
  font-family: Abel;
  font-weight: Regular;
  font-size: 20px;
  text-align: center;
}
.v1061_190 {
  width: 527px;
  height: 566px;
  background: rgba(244,244,242,1);
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 124px;
  overflow: hidden;
}

