* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v986_104 {
  width: 100%;
  height: 980px;
  background: rgba(33,35,41,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v986_106 {
  width: 354px;
  color: rgba(97,218,251,1);
  position: absolute;
  top: 60px;
  left: 129px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v1192_144 {
  width: 63px;
  color: rgba(97,218,251,1);
  position: absolute;
  top: 14px;
  left: 130px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v986_108 {
  width: 1428px;
  height: 757px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 72px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v986_109 {
  width: 1315px;
  height: 707px;
  background: rgba(256,256,256,1);
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 129px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1192_149 {
  width: 134px;
  height: 52px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 609px;
  left: 662px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v986_110 {
  width: 166px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 309px;
  left: 155px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1192_145 {
  width: 47px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 309px;
  left: 662px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1192_147 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 447px;
  left: 662px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1192_150 {
  width: 44px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 574px;
  left: 662px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v986_111 {
  width: 102px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 447px;
  left: 155px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v986_112 {
  width: 156px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 574px;
  left: 161px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v986_113 {
  width: 83px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 718px;
  left: 161px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v986_114 {
  width: 377px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 219px;
  left: 155px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v986_115 {
  width: 152px;
  color: rgba(152,152,158,1);
  position: absolute;
  top: 179px;
  left: 155px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v986_116 {
  width: 209px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 914px;
  left: 72px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v986_117 {
  width: 42px;
  height: 41px;
  background: url("../images/v986_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 798px;
  left: 812px;
  overflow: hidden;
}
.v986_120 {
  width: 384px;
  height: 59px;
  background: rgba(48,131,254,1);
  opacity: 1;
  position: absolute;
  top: 761px;
  left: 641px;
  color: rgba(255,255,255,1);
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  text-align: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

}
.v986_121 {
  width: 384px;
  height: 52px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 490px;
  left: 155px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v986_122 {
  width: 384px;
  height: 52px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 628px;
  left: 155px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v986_123 {
  width: 384px;
  height: 52px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 761px;
  left: 155px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v986_124 {
  width: 384px;
  height: 52px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 358px;
  left: 155px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1192_146 {
  width: 384px;
  height: 52px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 358px;
  left: 662px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1192_148 {
  width: 384px;
  height: 52px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 490px;
  left: 662px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}

.v1192_151 {
  width: 265px;
  height: 263px;
  background: url("../images/loginLiqueur.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 443px;
  left: 1123px;
  overflow: hidden;
}

.selectPais{
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  width: 200px;
  height: 52px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 609px;
  left: 850px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
  border-color: rgba(0,0,0,1);
  border: 1ch;
  z-index: 21;
}
