<!DOCTYPE html>
    <html>
        <head>
            <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre+Medium&display=swap" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet" />
            <link href= "{{ url_for('static',filename='css/addProduct.css') }}" type = "text/css" rel="stylesheet" />
            <title>Document</title>
        </head>
        <body>
            <form class="v1148_172">
                <div class="v1148_151"></div>
                <span class="v1148_158">TB </span>
                <span class="v1148_159">tienda bunbury.</span>
                <div class="v1148_160"></div>
                <div class="v1148_161"></div>
                <div class="v1148_162"></div>
                <div class="v1148_163"></div>
                <div class="v1148_164"></div>
                <div class="v1148_167"></div>
                <span class="v1148_170">Agregar producto</span>
                <input type = "Submit" class="v1148_171" value= "Insertar producto"></input>
                <input class="v1151_140" name = "Subsidiaria"></input>
                <input class="v1151_146" name = "Nombre"></input>
                <input class="v1151_143" name = "Precio"></input>
                <input type = "file" class="v1151_141" name = "Foto"></input>
                <input class="v1151_142" name = "Años"></input>
                <input class="v1151_147" name = "Añejado"></input>
                <input class="v1151_144" name = "Cantidad"></input>
                <input class="v1151_148" name = "Origen"></input>
                <span class="v1151_150">Subsidiaria</span>
                <span class="v1151_153">Años</span>
                <span class="v1151_152">Precio</span>
                <span class="v1151_151">Foto del producto</span>
                <span class="v1151_154">Cantidad</span>
                <span class="v1151_155">Origen</span>
                <span class="v1151_156">Añejado</span>
                <span class="v1151_158">Nombre</span>
            </form>
        </body>
    </html>