<!DOCTYPE html>
    <html>
        <head>
            <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre+Medium&display=swap" rel="stylesheet" />
            <link href= "{{ url_for('static',filename='css/adminStyle.css') }}" type = "text/css" rel="stylesheet" />
            <title>Administrador</title>
        </head>
        <body>
            <div class="v1084_136">

                <form class="form1">
                    <input type = "submit" class="v1084_140" value = "Productos"></input>
                    <span class="v1084_141">Nombre</span>
                    <input class="v1084_147"></input>
                </form>

                <form class="form2">
                    <span class="v1084_143">Nombre</span>
                    <input type = "submit" class="v1084_145" value = "Cant. Inventario"></input>
                    <input class="v1084_150"></input>
                </form>
                
                <div class="v1084_149"></div>
               
                <form class="form3">
                    <span class="v1084_172">Nombre</span>
                    <input type = "submit" class="v1084_173" value = "Actualizar precio"></input>
                    <span class="v1084_170">Nuevo precio</span>
                    <input class="v1084_168"></input>
                    <input class="v1084_174"></input>
                </form>

               
                <input type = "submit" class="v1084_175" value = "Agregar nuevo producto" ></input>
                
                <span class="v1084_151">TB </span>
                <span class="v1084_152">tienda bunbury.</span>
                <div class="v1084_153"></div>
                <div class="v1084_154"></div>
                <div class="v1084_155"></div>
                <div class="v1084_156"></div>
                <div class="v1084_157"></div>
                <span class="v1084_158">Consultas</span>
                <span class="v1084_163">Cambios en la <br> base de datos</br></span>
                <div class="v1084_159"></div>
                
                
            </div>
        </body>
    </html>