<!DOCTYPE html>
    <html>
        <head>
            <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre+Medium&display=swap" rel="stylesheet" />
            <link href= "{{ url_for('static',filename='css/admin.css') }}" type = "text/css" rel="stylesheet" />
            <title>Administrador</title>
        </head>
        <body>
            <div class="v1084_136">

                <form class="form1" method = "post" action="/queryProduct">
                    <input type = "submit" class="v1084_140" value = "Productos"></input>
                    <span class="v1084_141">Nombre</span>
                    <select class="v1084_147" id="productName" name="productName">
                        {% for product in products%}
                            <option>{{product}}</option>
                        {% endfor%}
                    </select>
                </form>

                <form class="form2" method = "post" action = "/productStock">
                    <span class="v1084_143">Nombre</span>
                    <input type = "submit" class="v1084_145" value = "Cant. Inventario"></input>
                    <select class="v1084_150" id="productName" name="productName">
                        {% for product in products%}
                            <option>{{product}}</option>
                        {% endfor%}
                    </select>
                </form>
                
                <div class="v1084_149"></div>
               
                <form class="form3" method="post" action="/editPrice">
                    <span class="v1084_172">Nombre</span>
                    <input type = "submit" class="v1084_173" value = "Actualizar precio"></input>
                    <span class="v1084_170">Nuevo precio</span>
                    <input class="v1084_168" type="text"  id="productName" name="productName"  pattern = "^[0-9]*" required></input>
                    <select class="v1084_174" id="newPrice" name="newPrice">
                        {% for product in products%}
                            <option>{{product}}</option>
                        {% endfor%}
                    </select>
                </form>

                <form class = "form4" method = "post" action = "/changeStock">
                    <span class="etiquetaSub">Subsidiaria</span>
                    <select class="Subsidiary" id="subsidiary" name="subsidiary">
                        {% for subsidiary in subsidiaries%}
                            <option>{{subsidiary}}</option>
                        {% endfor%}
                    </select>
                    <span class="v1084_172N">Nombre</span>
                    <input type = "submit" class="v1084_173N" value = "Aumentar stock"></input>
                    <span class="v1084_170N">Cantidad a agregar</span>
                    <input class="v1084_168N" type="text"  id="stock" name="stock" pattern = "^[0-9]*" required></input>
                    <select class="v1084_174N" id="product" name="product">
                        {% for product in products%}
                            <option>{{product}}</option>
                        {% endfor%}
                    </select>
                </form>

                <form action = "/returnAddProduct">
                    <input type = "submit" class="v1084_175" value = "Agregar nuevo producto" ></input>
                </form>

                <form action = "/createReport">
                    <input type = "submit" class="reports" value = "Reportes" ></input>
                </form>

                <span class="v1084_151">TB </span>
                <span class="v1084_152">tienda bunbury.</span>
                <div class="v1084_153"></div>
                <div class="v1084_154"></div>
                <div class="v1084_155"></div>
                <div class="v1084_156"></div>
                <div class="v1084_157"></div>
                <span class="v1084_158">Consultas</span>
                <span class="v1084_163">Cambios en la base de datos</span>
                <div class="v1084_159"></div>
                
            </div>
        </body>
    </html>