<!DOCTYPE html>
    <html>
        <head>
            <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre+Medium&display=swap" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet" />
            <link href= "{{ url_for('static',filename='css/consultasProduc.css') }}" rel="stylesheet" />
            <title>Document</title>
        </head>
        <body>
            <div class="v1023_173">
                <div class="v1023_174"></div>
                <span class="v1023_175">TB </span>
                <span class="v1023_176">tienda bunbury.</span>
                <div class="v1023_177"></div>
                <div class="v1023_178"></div>
                <span class="v1023_179">Procedimiento</span>
                <span class="v1026_216">Sucursal</span>
                <div class="v1026_217">
                    <div class="v1026_218"></div>
                    <select class="v1026_219">
                        <option selected>Horario</option>
                    </select>
                </div>
                <div class="v1026_227"></div>
                <div class="v1026_228"></div>
                <div class="v1026_229"></div>
            </div>
        </body>
    </html>