<!DOCTYPE html>
    <html>
        <head>
            <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre+Medium&display=swap" rel="stylesheet" />
            <link href= "{{ url_for('static',filename='css/customerStyle.css') }}" type = "text/css" rel="stylesheet" />
            <title>Consultant</title>
        </head>
        <body>
            <div class="v989_99">
 
                <div class="name"></div>
                <div class="v989_134"></div>
                <div class = "vineImage" ></div>
                <span class="v990_185">TB </span>
                <span class="v990_186">tienda bunbury.</span>
                <div class="v991_132"></div>
                <div class="v991_134"></div>
                <div class="v990_312"></div>
                <div class="v990_315"></div>
                <div class="v990_314"></div>
                <span class="v991_225">Consultas</span>

                <form class = "form1" method = "post" action="/queryProduct">
                    <input type = "submit" class="v989_100" value = "Productos"></input>
                    <span class="v991_92">Nombre</span>
                    <select class="v991_101" id="productName" name="productName">
                        {% for product in products%}
                            <option>{{product}}</option>
                        {% endfor%}
                    </select>
                </form>

                <form class = "form2" method = "post" action="/subSchedules">
                    <input  type = "submit" class="v990_183" value = "Horarios"></input>
                    <span class="v991_99">Sucursal</span>
                    <select class="v991_129" id="subsidiary" name="subsidiary">
                        {% for subsidiary in subsidiaries%}
                            <option>{{subsidiary}}</option>
                        {% endfor%}
                    </select>
                </form>

                <form class = "form3" method = "post" action="/listEmployees">
                    <input type = "submit" class="v990_184" value = "Empleados"></input>
                    <span class="v991_100">Sucursal</span>
                    <select class="v991_130" id="subsidiaryEmployees" name="subsidiaryEmployees">
                        {% for subsidiary in subsidiaries%}
                            <option>{{subsidiary}}</option>
                        {% endfor%}
                    </select>
                </form>

                <form action = "/complain">
                    <input type = "submit" class="inputQueja" value = "Realizar recomendación"></input>
                </form>
                
            </div>
        </body>
    </html>