<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre+Medium&display=swap" rel="stylesheet" />
        <title>Inicio de Sesión</title>
        <link href= "{{ url_for('static',filename='css/loginStyle.css') }}" type = "text/css" rel="stylesheet" />
        
    </head>
    <body>
        <div class="v503_133">
            <span class="v503_134">tb <br>
            tienda bunbury. </span>
           
            <form action = "/signIn" method = "post">
                <div class = "Rectangle"></div> 
                <div class="v503_138"></div>
                <div class="v795_84"></div>
                <span class="v795_87">Nombre de usuario</span> 
                <span class="v794_82">Contraseña</span>
                <span class="etiqueta">País</span>
                <span class="v795_85">Iniciar sesión</span>
                <span class="v795_83">¡Bienvenido!</span>
                <span class="v794_84">¿Aún no tienes una cuenta?</span>
                <a class = "Registrarse" href="/beginSignUp">Registrarse</a>
                <input class = "inputContraUsuario" type = "password" id = "password" name = "password"></input>

                <select class="selectPais" aria-label="Default select example">
                    <option selected>Seleccione un país</option>
                    <option value="1">Costa Rica</option>
                    <option value="2">Colombia</option>
                    <option value="3">Argentina</option>
                    </select>

                <input class = "inputNomUsuario" id = "user" name = "user"></input>
                <input class = "inputInicioSesion" type = "submit" value = "Iniciar sesión"></input>
            </form>     
            
        <div class="v796_99"></div></div>

        <span class="v503_145">Pneuma Developers S.A
            @2021</span>
            

    </body>
</html>