<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href= "{{ url_for('static',filename='css/loginStyle.css') }}" type = "text/css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div class="v983_82"><span class="v983_83">Tienda Bunbury </span>
        <span class="v983_84">→ ¡Calidad asegurada en licores! 
        → ¡Envíos hasta su casa!<br> 
        → ¡Los mejores precios!</span>
        <div class="v983_85"></div>
        <div class="v983_86"></div>
        <span class="v983_87">Nombre de usuario</span>
        <span class="v983_88">Contraseña</span>
        <span class="v983_89">Iniciar sesión</span>
        <span class="v983_90">¡Bienvenido!</span>
        <span class="v983_91">¿Aún no tienes una cuenta?</span>
        <span class="v983_92">Registrarse</span>
        <span class="v983_93">Pneuma Developers S.A
        @2021</span>
        <div class="v983_94"></div>
        <div class="v983_95">
        </div>
        <div class="v983_96"></div>
        <div class="v983_97"></div>
        <div class="v983_98"></div>
        <div class="v983_99"></div>
        <span class="v983_100">Inicio de Sesión</span>
        <div class="v983_103"></div>
        </div>
    </body>
</html>