<!DOCTYPE html>
    <html>
        <head>
            <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre+Medium&display=swap" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet" />
            <link href= "{{ url_for('static',filename='css/productoStyle.css') }}" rel="stylesheet" />
            <title>Query Product</title>
        </head>
        <body>
            <div class="v990_209">
                <div class="v991_142"></div>
                <span class="v991_143">TB </span>
                <span class="v991_144">tienda bunbury.</span>
                <div class="v991_145"></div>
                <div class="v991_146"></div>
                <span class="v991_213">Licores</span>
                <span class="v1021_125">{{ productName }}</span>
                <span class="v1021_126">{{ origin }}</span>
                <div class="v1023_215"></div>
                <div class="v1026_230"></div>
                <div class="v1026_231"></div>
                <div class="v1026_232"></div>
                <span class="v1032_256">Años: {{ years }}<br>Tipo de Añejado: {{ agedType }}</br> <br>{{ combinations }}</br></span>
                <span class="v1032_257">País de origen: {{ origin }}</span>
                <div class="v1032_258"></div>
                <span class="v1032_259">Precio: ${{price}}</span>
                <div class="v1032_260">
                    <span class="v1032_261">Sucursal más cercana: {{nearestSub}} km.</span>
                    <div class="name"></div>
                </div>
                <div class="v1032_265">
                    <span class="v1032_266">{{availablesSubs}}</span>
                    <div class="name"></div>
                </div>
                <div class="v1032_272">
                    <form method = "post" action="/startShopping">
                        <input type ="hidden" id="productName" name="productName" value="{{ productName }}" />
                        <button class = "v1032_274">Comprar Producto</button >
                    </form>
                    
                </div>
                <span class="v1032_281">Se aplicarán impuestos y tarifas de envío al finalizar la compra.</span>
            </div>
        </body>
    </html>