<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre+Medium&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet" />
        <link href="{{ url_for('static',filename='css/schedules.css') }}" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Horarios</title>
    </head>
    <body>
        <div class="v1023_173">
        <div class="v1023_174"></div>
        <span class="v1023_175">TB </span>
        <span class="v1023_176">tienda bunbury.</span>
        <div class="v1023_177"></div>
        <div class="v1023_178"></div>
        <span class="v1023_179">Horarios</span>
        <span class="v1026_216">{{subsidiary}}</span>
        <div class="v1026_217">
        <h3>Lunes: {{schedulesDay[0]}}</h3>
        <h3>Martes: {{schedulesDay[1]}}</h3>
        <h3>Miércoles: {{schedulesDay[2]}}</h3>
        <h3>Jueves: {{schedulesDay[3]}}</h3>
        <h3>Viernes: {{schedulesDay[4]}}</h3>
        <h3>Sábado: {{schedulesDay[5]}}</h3>
        <h3>Domingo: {{schedulesDay[6]}}</h3>

        </div>
       
        </div>
        <span class="v1026_221">Horario</span>
        </div></div>
        <div class="v1026_227"></div>
        <div class="v1026_228"></div>
        <div class="v1026_229"></div>
        <div class="v1103_148"></div>
        </div>
    </body>
</html>