<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="{{ url_for('static',filename='./css/signUp.css') }}" rel="stylesheet" />
        <title>Registro</title>
    </head>
    <body>
        <div class="v794_89">
            <div class="v794_90">
                <span class="v794_91">Gaia Music </span>
                <div class="v794_93"></div>
                <div class="v794_94"></div>
                <div class = "v840_110"></div>
               
               
                <span class="v794_101">Pneuma Developers S.A
                @2021</span>
               

                <form method = "post" action = "/signUp">
                    <div class = "Rectangle"></div> 
                    <span class="v794_95">Nombre de usuario</span>
                    <span class="v794_96">Contraseña</span>
                    <span class="v794_110">Nombre completo</span>
                    <span class="v794_112">Dirección</span>
                    <span class="v794_97">Únete a la comunidad</span>
                    <span class="v794_98">¡Bienvenido!</span>
                    <input class = "inputContraUsuario" type = "password" id = "password" name = "password" required = "" 
                    pattern = "(?=(?:.*\d){1})(?=(?:.*[A-Z]){1})(?=(?:.*[a-z]){1})(?=(?:.*[@$+=`~?><#%&*!¡\-_]){1})\S{6,}" 
                    title = "La contraseña debe tener 6 caracteres mínimo, 1 mayuscula, 1 miniscula , un digito y un caracter especial como mínimo.">></input>
                    <input class = "inputNomUsuario" id = "user" name= "user" required = ""></input>
                    <input class = "inputNomCompleto" id = "name" name="name" required = ""></input>
                    <input class = "inputDireccion" id = "address" name="address" required = ""></input>
                    <input class = "inputCrearCuenta" type = "submit" value = "Crear cuenta"></input>
                    <div class="v794_102"></div>
                    <div class="v794_103"></div>
                    <div class="v794_104"></div>
                </form>
                

                <div class="v794_109"></div>
            </div>
        </div>
    </body>
</html>