<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre+Medium&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet" />
        <link href="{{ url_for('static',filename='css/viewEmployee.css') }}" rel="stylesheet" />
        <title>Empleado</title>
    </head>
<body>
    <div class="v990_209">
    <div class="v991_142">
    </div>
    <span class="v991_143">TB </span>
    <span class="v991_144">tienda bunbury.</span>
    <div class="v991_145"></div>
    <div class="v991_146"></div>
    <span class="v991_213">Empleado</span>
    <span class="v1021_125">{{employeeName}}</span>
    <span class="v1021_126">Puesto: {{job}}</span>
    <div class="v1023_215"></div>
    <div class="v1026_230"></div>
    <div class="v1026_231"></div>
    <div class="v1026_232"></div>
    <span class="v1032_256">Email: {{email}} <br> <br>
            Teléfono: {{phone}}<br> <br>
            Edad: {{age}} años</span>
    <span class="v1032_257"><br><br></span>
    <div class="v1032_258"></div>
    <span class="v1032_259">Salario: ${{salary}}</span>
    <div class="v1032_260">
    <span class="v1032_261"></span>
    </div>
</div>
    <span class="v1032_281">Su retroalimentación es bastante importante para nosotros. <br><br>Si tiene alguna queja con este empleado, diríjase a la página central.</span></div>
</body>
</html>